:root {
    --primary-color: #055a05; /*forest green*/
    --secondary-color: #f4a261; /*warm sand*/
    --accent1-color: #264653; /*dark slate blue*/
    --accent2-color: #e9c46a; /*light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 300px;
    background-color: var(--accent2-color);
    padding: 5px;
}
.hero article img {
    float: right;
    width: 120px;
    background-color: var(--accent2-color);
}

.hero-text{
    position: absolute;
    top: 180px;
    left: 450px;
    padding: 5px;
    color: #fff;
}

.hero-trip{
    top:220px;
    left: 660px;
    position:absolute;
}
.hero-trip a{
    text-decoration: none;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width:840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin:16px;
    padding: 18px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 840px;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* White text*/
}

.container1 {
    margin: 3px;
    padding: 0px;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap:20px;
    padding: 10px;
    background-color: var(--secondary-color);
}


header img {
    width: 100px;
    padding-left: 20px;

}

header nav {
    display: flex;
    justify-self: end;
    padding: 20px;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
}

a{
    background-color: #faefa0;
    width:90px;
    height: 30px;
    text-align: center;
    padding:5px;
    border-radius: 5px;
}
a:hover{
    background-color: var(--accent1-color);
    color: #eee;
    width:90px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.socialmedia {
    display: flex;
    gap: 15px;
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}
.socialmedia a{
    width: 30px;
}

.history-content{
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    gap: 1rem;
    align-items: center;
    margin: 2rem;
}

.history-content img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.gallery img {
    width: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.gallery figure {
    text-align: center;
}

.gallery figcaption{
    margin-top: 8px;
    font-size: 0.9rem;
    color: var(--accent1-color);
}


form {
    width: 350px;
    height: 400px;
    margin:0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    background-color: #faefa0;
    display: grid;
    border-radius: 10px;
    text-align: left;
}

form div{
    margin: 2px;
}

form p{
    margin: 0;
    text-align: left;
    padding: 0px;
}

.container2{
    display: grid;
    grid-template-columns: 300px auto;
    gap: 3rem;
    align-items: center;
    margin: 3rem;
}
.container2 iframe{
    width: 350px;
    height: 400px;
    border-radius: 10px;
}

button{
    width: 100%;
    Height: 30px;
    background-color: var(--accent2-color);
    border: 0px;
    border-radius: 20px;
}

button:hover{
    background-color: var(--accent1-color);
    color: #eee;
}

.contact1{
    text-align:center;
}
.contact1 h1{
    position: relative;
    width: 500px;
    padding: 0px;
   left: 100px;
   top: 0px;
   margin: 20px;
   color: #eee;

}

.container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    align-items: center;
}

.container3 img {
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.container3 figure {
    text-align: center;
}

.container3 figcaption{
    margin-top: 8px;
    font-size: 0.9rem;
    color: var(--accent1-color);
}

.home-all{
    text-align:center;
}
.home-all h1{
    position: relative;
    width: 600px;
    padding: 0px;
   left: 100px;
   top: 0px;
   margin: 20px;
   color: #eee;
}

.home-cap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.home-cap img {
    width: 250px;
    border-radius: 8px;
    object-fit: cover;
}

.home-cap figure {
    text-align: center;
}

.home-cap figcaption{
    margin-top: 8px;
    font-size: 0.9rem;
    color: var(--accent1-color);
}

.home-container{
    display: grid;
    position:flex;
    grid-template-columns: 400px auto;
    gap: 3rem;
    align-items: center;
    margin: 1rem;
}

.home-container img{
   width:800px;
   padding:0px;
   margin: 0px;
}

.home-container form{
    background-color:#faefa0;
    width: 400px;
    height: 300px;
}
.home-container button{
    width:360px;
    height: 50px;
    font-size: large;
}

h3{
    text-align: center;
}

.in-email{
    width: 300px;
    height: 30px;
}

.trip-head{
   text-align: center;
}
.trip-head h1{
    background-color:var(--accent1-color);
     display: relative;
    top:380px
}
.trip-cap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    
}

.trip-cap img {
    width: 230px;
    object-fit: cover;
    border: 1px solid rgba(1, 50, 8, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.trip-cap figure {
    text-align: center;
}

.trip-cap figcaption{
    margin-top: 8px;
    font-size: 0.9rem;
    color: var(--accent1-color);
}

.nice{
    border: 1px solid rgb(0 0 0 / 10%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 30px;
}
.book-now{
    margin-top: 20px;
}

.book-now a{
    text-decoration: none;
}

.table-part{
    width: 800px;
    text-align: center;
    
}
.av-trips{
    width: 800px;
    align-items: center;
}
.av-trips th{
    background-color: var(--accent1-color);
    color:#faefa0;
    width: 100px;
    height: 30px;
}
.av-trips td{
    background-color: #faefa0;
}