:root {
    --primary-color: #055a05; /*forest green*/
    --secondary-color: #f4a261; /*warm sand*/
    --accent1-color: #264653; /*dark slate blue*/
    --accent2-color: #e9c46a; /*light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 300px;
    background-color: var(--accent2-color);
    padding: 5px;
}
.hero article img {
    float: right;
    width: 120px;
    background-color: var(--accent2-color);
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width:840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin:16px;
    padding: 18px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 840px;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* White text*/
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--secondary-color);
}


header img {
    width: 100px;
    padding-left: 20px;

}

header nav {
    display: flex;
    justify-self: end;
    padding: 20px;
}

header nav a {
    margin-left: 80px;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.socialmedia {
    display: flex;
    gap: 15px;
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}

.history-content{
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    gap: 1rem;
    align-items: center;
    margin: 2rem;
}

.history-content img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

h2 {
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.gallery img {
    width: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.gallery figure {
    text-align: center;
}

.gallery figcaption{
    margin-top: 8px;
    font-size: 0.9rem;
    color: var(--accent1-color);
}
