:root {
    --primary-color: #055a05; /*forest green*/
    --secondary-color: #f4a261; /*warm sand*/
    --acccent1-color: #264653; /*dark slate blue*/
    --accent2-color: #e9c46a; /*light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helavetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--acccent1-color);
}

header, main, footer {
    width:840px;
    margin: 0 auto;
}

h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin:16px;
    padding: 18px;
}

.socialmedia {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color);
    color: #fff; /**/
}

.hero article img {
    float: right;
    width: 125px;
}