* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    padding: 0;
    color: #fff;
    display: block;
}

h1 { color: #333;}

main {
    max-width: 830px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #495b75;
    padding: 2px;
    box-shadow: 0 0 30px #616161;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem; margin: 1rem;
    text-align: center;
}


aside img {
    width: 200px;
    height: auto;
}

p { padding: 0; }

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
aside h2 {
  position: relative;
  top: 47px;
  left: 4px;
}