body {
    width: 800px;
    margin: auto;
    font-family: sans-serif;
}

main {
    width: 60%;
    margin: auto;
}

header, footer {
    background-color: #363636;
    text-align: center;
    color: #fff;
    padding: 1px;
    font-size: 1.3rem;
    margin: 10px;
}

footer {
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

img {
    width: 100%;
    margin: auto;
    box-shadow: 0 0 30px #666;
}

section {
    width: 90%;
    background-color: #bdbcbc;
    padding: 5%;
    margin: 20px auto;
}

h2 {
    border-bottom: 1px solid #000000;
}

section p {
    margin-left: 15px;
}

section ul {
    margin-left: -10px;
}

